h1 {
color:darkblue;
font-size:19;
}
div.sofia {
 position: relative;
overflow: hidden;
color: blue;
position: center;
	}
div.plovdiv {
position: relative;
position: center;

}

body, html {
  height: 100%;
}

.bg_varna {
  /* The image used */
  background-image: url("img/varna_banner1.jpg");

  /* Full height */
  height: 20%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
table, th, td {
  border: 1px solid black;
  border-color: #006600;
}